.App {
  text-align: center;
}
a {
  color: lightblue;
  font-size: 35px;
}
nav a {
  margin: 15px;
}
button {
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  margin: 20px;
  border: 0;
  cursor: pointer;
}

h1 {
  font-size: 90px;
  margin-top: 20px;
}
