.App {
  text-align: center;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  width: 250px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  margin: 15px;
  padding-bottom: 10px;
}
.card > img {
  width: 100%;
  border-radius: 10px;
}
